body {
    overflow-x: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #ffffff !important;
}


/* Navbar */


.navbar {
    background-color: #009e4d;
  }
  .navbar .navbar-brand {
    color: #ffffff;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #f2f2f2;
  }
  .navbar .navbar-text {
    color: #ffffff;
  }
  .navbar .navbar-text a {
    color: #f2f2f2;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #f2f2f2; 
  }
  .navbar .navbar-nav .nav-link {
    color: #ffffff;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #f2f2f2;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #f2f2f2;
    background-color: #007037;
  }
  .navbar .navbar-toggle {
    border-color: #007037;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #007037;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #ffffff;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #ffffff;
  }
  .navbar .navbar-link {
    color: #ffffff;
  }
  .navbar .navbar-link:hover {
    color: #f2f2f2;
  }

  #logo {
    width: 110px;
    height:40px;
    margin:0;
    padding:0;
  }
  
  .modal-lg {
    max-width: 95% !important;
  }

  /*Header*/

  
#header {
    margin: 0.2vw;
}

.main {
    margin: 20px;
}


#next {
  margin-left: 0.5rem;
}

#log_out {
  margin-top: 5rem !important;
}

#back {
  margin: 0.5rem;
}


#alert1 {
  display: none;
  visibility: hidden;
  margin-top: 0.2rem;
}

#alert2 {
  display: none;
  visibility: hidden;
  margin-top: 0.2rem;
}

#alert3 {
  display: none;
  visibility: hidden;
  margin-top: 0.2rem;
}

#alert4 {
  display: none;
  visibility: visible;
  margin-top: 0.2rem;
}

#alert5 {
  display: none;
  visibility: hidden;
  margin-top: 0.2rem;
}

#alert6 {
  display: none;
  visibility: hidden;
  margin-top: 0.2rem;
}

#alert7 {
  display: none;
  visibility: hidden;
  margin-top: 0.2rem;
}

  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #f2f2f2;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #f2f2f2;
      background-color: #007037;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #f2f2f2;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #f2f2f2;
      background-color: #007037;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #f2f2f2;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #f2f2f2;
      background-color: #007037;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #f2f2f2;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #f2f2f2;
      background-color: #007037;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f2f2f2;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f2f2f2;
    background-color: #007037;
  }

  .footer {
    margin-top: 1rem;
  }

  .imagepreview {
    display: block;
    width: auto;
    max-height: 100%
  }

  @media (max-width: 600px) {
    #main-btn {
        margin-top: 0.4rem;
    }

    #accept-btn
    {
      font-size: 14px;
    }
    #back
    {
      width: 90%;
    }
}